@tailwind base;
@tailwind components;
@tailwind utilities;

@import './shared.css';
@import './fontawesome.css';
@import './page-adobe.css';
@import './page-gdrive.css';
@import './page-icloud.css';
@import './page-kurmer.css';
@import './page-ms365.css';
@import './page-nfxid.css';
